.montserrat-mainFont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .mycolor-bg {
      background-color:rgb(0, 120, 212)
  }
  html, body {
      height: 100%;
      margin: 0;
  }  
  body {
      min-height: 50rem;
      display: flex;
      flex-direction: column;
  }
  main {
      justify-content: center; /*po x-osi*/
      align-items: center; /*po y osi*/
      flex: 1;
  }
  footer {
      color: white;
      text-align: center;
      padding: 0.625rem 0;
  }
  * {
    box-sizing: border-box;
  }
  /* Container for flexboxes */
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  /* Create three equal columns */
  .column {
    flex: 33%;
    padding: 1.25rem;
  }
  .mygrid-container {        
    justify-content: space-between;
    grid-template-columns: 15rem 15rem 15rem; /*Make the grid smaller than the container*/
    gap: 1rem;
    background-color: #2196F3;
    padding: 1.25rem ;
    border-radius: 1.15rem; 
  } 
.mygrid-container > div, .mygrid-container > form {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    width: min(50rem, 90%);
}
.my-form {
    margin-block-end: 0em;
}
.mynav-text{
    font-size: 1.50rem;
}
.nav-i {
    padding-right: 0.6rem;
    padding-left: 1.25rem;
}
.btn-i {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
p.medium-font {
    font-size: medium;
}
.mid-grid {
    display: grid;
}
.mid-grid p {
    margin-bottom: 0.5rem;
}
.mid-grid-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}
.mid-column {
    padding-left: 3rem;
    text-align: left;
}
.mid-result {
    padding-right: 3rem;
    text-align: left;
}