@media screen and (max-width: 1396px) {
    .column {
      flex: 50%;
    }
    .myheader {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
    .main-mypadding {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
  }
  @media screen and (max-width: 1200px) {
    .mid-grid-group {
      display: grid;
    }
    .be-bolder {
      padding-right: 0rem;
      padding-left: 3rem;
    }
    .mid-result {
      padding-right: 0rem;
      padding-left: 3rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .row {
      flex-direction: column;
    }
    .column {
      flex: 75%;
    }
    .myheader {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
    .main-mypadding {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
  }
  /* On screens that are 768px wide or less, make the columns stack on top of each other instead of next to each other 
  and make paddings of header and main get extremely reduced so the contents arent pushed on each other*/
  @media screen and (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .column {
      flex: 75%;
    }
    .myheader {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
    .main-mypadding {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
  }
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    .column {
      flex: 75%;
    }
    .myheader {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
    .main-mypadding {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.20rem;
    }
    .anuitet-result {
      font-size: x-large;
    }
    .output {
      font-size: large;
    }
    .be-bolder {
      font-size: medium;
    }
    .mid-result {
      font-size: large;
    }
    .mid-column {
      font-size: medium;
    }
    span.width50 {
      font-size: large;
    }
    span.width25 {
      font-weight: 500;
    }
    #minValue {
      font-size: small;
    }
    #maxValue {
      font-size: small;
    }
    #minValueMonth {
      font-size: small;
    }
    #maxValueMonth {
      font-size: small;
    }
    .info-padding {
      font-size: medium;
    }

  }