.slidecontainer {
    width: 100%;
  }
  
  .slider {
    appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #5d6b83;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 1rem;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer;
  }
  
  .slider-values {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
  }
  
  .slider-values span {
    
    text-align: center;
  }
  span.width50 {
    width: 50%;
    font-size: large;
  }
  span.width25 {
    width: 25%;
    font-size: medium;
  }
  #minValue {
    font-size: medium;
  }
  #maxValue {
    font-size: medium;
  }
  #minValueMonth {
    font-size: medium;
  }
  #maxValueMonth {
    font-size: medium;
  }